@charset "utf-8";   /* css 파일에 무조건 선언해줄 것 */

*, *::before, *::after{
    margin: 0;      
    padding: 0;
    box-sizing: border-box;  /* 반: content-box 를 쓰게되면 multi-div 선언으로 여백줌 */
    
}

body{
    background-color: #fff;
    
}

/* container */
.container{
    background-color: grey;
    /* width: 100%;   container width 100% 주고 margin 값주면 화면 짤림 */
    height: 100vh; /* 화면에 보여지는 전체 크기 1vh = 화면의 1/100 */ 
    
}
/* common layout */
.header, .main, .slogan {
    width: 1000px;
    margin: 0 auto;
}

.header{
    background-color: yellow;
    height: 10vh;
}

.navigation{
    background-color: lime;
    height: 10vh;
}

/* main contents */
.main{
    background-color: pink;
    height: 60vh;

}

.main section{
    /* background-color: #3fc;  */
    
}

.recommendBook{

}

.news{

}

.board{


}

.favorite{
  
}

.twitter{
 
}

/* ****slogan**** */
.slogan{
    background-color: orange; 
    height: 10vh;
}

/* ****** footer ***** */
.footer{
    background-color: red;
    height: 10vh;
}